* {
  font-family: "Fira Code", monospace;
  margin: 0;

  padding: 0;

  box-sizing: border-box;

  text-decoration: none;
}

nav {
  background-color: #211f2a;
}
body {
  font-size: 16px;
}
h2 {
  font-size: 150%;
}
h1 {
  font-size: 200%;
}
card-title {
  font-weight: bold;
  text-transform: uppercase;
}
.card-subtitle {
  font-weight: 300;
  font-size: 0.9rem;
  color: #6c757d;
}
.card img {
  height: 250px;
  object-fit: cover;
}
.card-footer {
  font-size: 0.8rem;
  color: #6c757d;
}
.timeline {
  position: relative;
  padding-left: 40px;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 20px;
  width: 2px;
  height: 100%;
  background: #dee2e6;
}

.timeline-item {
  position: relative;
}

.timeline-icon {
  position: absolute;
  left: -3px;
  top: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
